configuration {
    font:            "Noto Sans Regular 10";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@import "~/.config/rofi/config.rasi"

